<app-filter [all]="totalProducts" [inStock]="totalInStockProducts" [outOfStock]="totalOutOfStocksProducts"
    (selectedFilterRadioButtonChanged)="OnFilterChanged($event)">
</app-filter>

<div class="ekart-container">
    <!-- here we can use ng-container instead of div -->
    <ng-container *ngFor="let prod of products; let i=index;">
        <app-product [product]="prod" *ngIf="searchText===null|| prod.name.toLocaleLowerCase().includes(searchText)"
            (click)="selectedProduct=prod"></app-product>
        <!-- *ngIf="selectedFilterRadioButton==='all' || prod.is_in_inventory.toString() ===selectedFilterRadioButton" -->
    </ng-container>
</div>