<div class="ekart--search--product">
    <input type="text" [(ngModel)]="randomText"> <span> this is 2 way data binding using NgModule </span>
    <input type="text" [value]="randomText">

    <div *ngFor="let item of [1,2]">
        <p>this is directive+{{item}}</p>
    </div>
    <div *ngFor="let con of content">var form class {{con}}</div>
    <br><br>
    <input class="ekart-search-product-input" type="text" #searchInput>
    <!-- [(ngModel)]="searchText" (input)="onSearchTextChange()" -->
    <button class="btn btn-search" (click)="updateSearchText()">Search</button>
    <!-- [ngClass]="{'btn':true, 'btn-search': searchText,'btn-search-disabled':!searchText}" type="button" -->
    <!-- [disabled]="!searchText" -->
</div>
<div class="ekart-search-result-for">
    <p *ngIf=" searchText !=''">Search Result for: {{searchText}} </p>
</div>